pyrogram==2.0.106
git+https://github.com/pytgcalls/pytgcalls@0.8.6
TgCrypto
python-dotenv
yt-dlp
youtube-search-python
requests
aiohttp
aiofiles
asyncio
ffmpeg
Pillow
future
psutil
wget
pymongo
motor
dnspython
